.select-item {
	width:50%;
	margin-left: 25%;
	margin-right: 25%;
	align-items:center;
	position:fixed;
	bottom: 0px;
}

.select-item .switchcase {
  overflow: hidden;
  background-color: #333444;
}

.select-item .switchcase a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.select-item a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.forupload {
	height: 100px;
	background-color: white;
}
.forupload input[type=file]::file-selector-button ,button{
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
	background-color: #04AA6D;
}
.forupload input[type=file]::file-selector-button:hover ,button:hover{
  background-color: #0b7dda;

}

